.bg-image {
    background-image: url("Home.jpg") !important;
    backdrop-filter: blur(10px);
    height: 100vh;
    z-index: 0;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
